.header {
    background-color: #6C4EA2;
    padding: 1rem 0rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    max-height: 4rem;
    z-index: 1000;
    box-shadow: 0.1rem 0.1rem 1rem 0 #6d6d6d;
}

.menu-button {
    position: fixed;
    flex-direction: column;
    width: 1.875rem;
    height: 1.375rem;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 1100;
    opacity: 1;
    visibility: visible;
    margin: 0rem 0rem 0rem 1rem;
}

.menu-button .bar {
    display: block;
    height: 3px;
    width: 25px;
    background-color: white;
    margin: 4px 0;
    transition: all 0.3s ease;
}

.menu-button .bar:hover {
    background-color: #9F7ACD;
    transition: none;
}

.menu-button.open .bar:nth-child(1) {
    transform: rotate(45deg) translateY(0.5625rem);
}

.menu-button.open .bar:nth-child(2) {
    opacity: 0;
}

.menu-button.open .bar:nth-child(3) {
    transform: rotate(-45deg) translateY(-9px);
}

.header-logo {
    max-width: 3rem;
    max-height: 3rem;
    overflow: hidden;
    margin: 0rem 0rem 0rem 3.8rem;
}

.logo {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.header-logo:hover {
    cursor: pointer;
}

.header-title {
    cursor: default;
    padding: 0.9rem 1rem 0rem;
}

/* DESPLEGABLE MENU */
.desplegable-menu {
    position: fixed;
    z-index: 900;
    padding-top: 3.8rem;
    left: 0;
    height: 100%;
    width: 26rem;
    overflow: scroll;
    display: none;
}

.desplegable-menu.open {
    display: flex;
    flex-direction: column;
}

.desplegable-menu-bar_busqueda {
    background-color: #2b2038;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-inline: 2rem;
    padding: 2rem 2rem 2rem 1rem;
    gap: 1rem;
}

.desplegable-menu-bar_busqueda input {
    width: 100%;
}

.desplegable-menu-bar_busqueda i {
    color: white;
}

.desplegable-menu-bar {
    background-color: #2b2038;
    width: 100%;
    height: 7rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-inline: 2rem;
}

.desplegable-menu-bar_categories {
    background-color: #6C4EA2;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.desplegable-menu-bar_login {
    display: none;
}

.desplegable-menu-bar_login_container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.desplegable-menu-bar_login_container i:hover {
    color: #9F7ACD;
    cursor: pointer;
}

.desplegable-menu-bar_login_container:hover .nav-text {
    color: #9F7ACD;
    cursor: pointer;
}

.nav-text {
    text-decoration: none;
}

.desplegable-menu-bar_categories_container_title {
    width: 100%;
    height: 100%;
    background-color: #6C4EA2;
    padding-inline: 2rem;
    padding: 1rem 0.2rem 0.2rem 1rem;
}

.desplegable-menu-bar_categories_container_title h2 {
    color: #2b2038;
    text-decoration: underline 0.1rem;
}

.desplegable-menu-bar_categories_container {
    width: 100%;
    height: 100%;
    background-color: #6C4EA2;
    padding-inline: 2rem;
    padding: 1rem 0.2rem 0.2rem 1rem;
}

.desplegable-menu-bar_categories_container:hover {
    width: 100%;
    height: 100%;
    background-color: #2b2038;
    padding-inline: 2rem;
    padding: 1rem 0.2rem 0.2rem 1rem;
    cursor: pointer;
}

.desplegable-menu-bar_categories_team {
    background-color: #2b2038;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 1rem 8rem 1rem 1rem;
    gap: 0.3rem;
}

.desplegable-menu-bar_categories_team a {
    text-decoration: none;
}

.desplegable-menu-bar_categories_team a:hover {
    text-decoration: none;
    color: #9F7ACD;
}

/* DESPLEGABLE MENU ENDS */

.header-menu {
    display: flex;
}

.header-menu div {
    margin-right: 2.2rem;
}

.header-menu a {
    color: #e0e0e0;
    text-decoration: none;
    padding: 0rem 0rem;
    border-radius: 6px;
    transition: color 0.3s ease;
    margin-right: 0rem;
}

.header-menu i {
    color: #e0e0e0;
}

.header-menu-link_container:hover .nav-text,
.header-menu a:hover {
    color: #2b2038;
    transition: 0.1s ease;
}


/*MAIN SECTION*/
.main {
    display: flex;
    flex-direction: column;
    padding-top: 6rem;
    /* Espacio suficiente para no tapar con el header */
    padding-inline: 2rem;
    /*Espacio a ambos lados para no chocar*/
    gap: 3rem;
    /* Espacio entre secciones */
    /* border: solid rgb(92, 92, 92) 0.01rem; */
}

.main-presentation_section {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    min-height: calc(100vh - 10rem);
    gap: 2rem;
    /* border: solid rgb(92, 92, 92) 0.01rem; */
}

.presentation-composition {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.presentation-composition_container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
    /* border: solid rgb(255, 0, 0) 0.01rem; */
}

.presentation-iframe_container {
    background-color: rgba(44, 62, 80, 0.09);
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    /* border: solid #2c3e50; */
    text-align: center;
    width: 32.2%;
}

.presentation-iframe_container:hover {
    background-color: #2b2038;
}

.presentation-api {
    width: auto;
    height: auto;
    object-fit: contain;
}

.presentation-iframe_container_big {
    background-color: rgba(44, 62, 80, 0.08);
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    /* border: solid #2c3e50; */
    text-align: center;
    width: 100%;
}

.presentation-iframe_container_big:hover {
    background-color: #2b2038;
}

.presentation-api_big {
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 4.7;
    object-fit: contain;
}

.presentation-iframe_titlebox {
    color: white;
    text-align: center;
    padding: 0.2rem;
}

.presentation-iframe_titlebox:hover {
    cursor: pointer;
}

.presentation_image-container {
    width: 23vw;
    max-width: 30rem;
    min-width: 14rem;
    height: auto;
    overflow: hidden;
    margin: 0rem 0rem 0rem 3.8rem;
    /* border: solid rgb(255, 0, 0) 0.01rem; */
}

.presentation-composition-image_right {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.presentation-titles {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: left;
    /* border: solid rgb(255, 0, 0) 0.01rem; */
}

.presentation-title {
    white-space: normal;
    word-break: break-word;
}

.presentation-subtitle {
    white-space: normal;
    word-break: break-word;
}

.btn-primary {
    background-color: #4C6FAD;
    border: solid transparent;
}

.btn-primary:hover {
    background-color: #2b2038;
    border: solid #2b2038;
    transition: 0.4s ease;
}

.divider {
    background-color: #2b2038;
    height: 0.2rem;
}

/*CAROUSEL*/
.main-carousel-section {
    position: relative;
    z-index: 1;
    padding-top: 50px;
    /* border: solid rgb(255, 0, 0) 0.01rem; */
    height: auto;
    position: relative;
}

.carousel-controls {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
}

.carousel-item {
    padding: 1.25rem;
}

.carousel-item_container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 2rem;
    /* border: solid rgb(136, 255, 0) 0.01rem; */
}

.card-custom {
    /* border: solid rgb(255, 0, 0) 0.01rem; */
    border-radius: 12px;
    overflow: hidden;
    color: white;
    height: 38rem;
    /*comprobar*/
    max-width: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-img_front {
    height: 22rem;
    width: auto;
    margin-bottom: 11rem;
    transition: transform 0.5s ease;
    z-index: 2;
    /* border: solid rgb(255, 0, 0) 0.01rem; */
}

.card-img_back {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    object-fit: cover;
}

.card-title {
    z-index: 2;
    padding-bottom: 1rem;
}

.card-body {
    z-index: 2;
    background: linear-gradient(rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 36.99%);
    padding: 2rem;
    gap: 1rem;
    bottom: 0;
    height: 24rem;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.btn-blue {
    background-color: #4C6FAD;
    color: #000000;
    border: none;
}

.btn-blue:hover {
    color: white;
    background-color: #2b2038;
    cursor: pointer;
    border: solid 0.15rem #2b2038;
}

.main-structures-composition {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: row;
    max-height: 35rem;
}

.main-structures-titlebox_container {
    max-width: 22rem;
    background-color: #1E293B;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1rem;
    /* border: solid rgb(255, 0, 0) 0.01rem; */
}

.main-structures-titlebox_image {
    max-width: 10rem;
}

.main-structures-titlebox_text {
    text-align: center;
}

.main-structures-image_container {
    display: flex;
    max-width: 150rem;
    height: auto;
    overflow: hidden;
    /* border: solid rgb(255, 0, 0) 0.01rem; */
}

.main-structures-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.footer-container {
    display: flex;
    flex-direction: row;
    background-color: #f8fafc;
    margin-top: 5rem;
}

.footer-column {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 5rem;
}

.footer-column a {
    text-decoration: none;
}

.footer-column a:hover {
    color: #9F7ACD;
}

.footer-column input {
    max-width: 40rem;
}

.footer-column button {
    max-width: 10rem;
    border-radius: 0.3rem;
}

.footer-column button:hover {
    cursor: pointer;
}

/* LEGAL ADVICE */
.legal-main {
    display: flex;
    padding: 6rem 5rem 1rem 2rem;
}

.legal-main-container_left {
    position: sticky;
    align-self: flex-start;
    top: 0;
    display: flex;
    flex-direction: column;
    text-wrap: nowrap;
    padding: 6rem 2rem 0 2rem;
    gap: 2rem;
}

.legal-main-container_right{
    display: flex;
    flex-direction: column;
    padding: 0rem 2rem 1rem 6rem;
}

/*MEDIA QUERIES 970*/
@media (max-width: 970px) {
    .header-menu div {
        display: flex;
        align-items: center;
        height: 3rem;
        width: 100%;
    }

    .footer-container {
        display: flex;
        flex-direction: column;
        background-color: #f8fafc;
    }

    .footer-column {
        gap: 0.5rem;
        padding: 2rem;
    }
}

/*MEDIA QUERIES 768*/
@media (max-width: 768px) {
    .header-menu {
        display: none;
    }

    .desplegable-menu {
        position: fixed;
        z-index: 900;
        background-color: yellow;
        padding-top: 3.8rem;
        left: 0;
        height: 100%;
        width: 100%;
        overflow: scroll;
        display: none;
    }

    .desplegable-menu.open {
        display: flex;
        flex-direction: column;
    }

    .desplegable-menu-bar_login {
        background-color: #2b2038;
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.3rem 1rem 0.5rem 0.5rem;
        gap: 0.5rem;
    }

    .presentation-iframe_container {
        border-radius: 0.5rem;
        display: flex;
        flex-direction: column;
        gap: 0.2rem;
        text-align: center;
        width: 100%;
    }

    .main-structures-composition {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        width: 100%;
    }

    .main-structures-titlebox_container {
        display: flex;
        max-width: none;
        width: 100%;
        background-color: #1E293B;
        padding: 0.5;
    }

    .main-structures-titlebox_image {
        max-width: 3rem;
    }

    .main-structures-titlebox {
        display: flex;
    }

    .main-structures-image_container {
        height: 100%;
        width: 100%;
        flex: 1;
    }

    .legal-main {
        display: flex;
        flex-direction: column;
        padding: 6rem 5rem 1rem 2rem;
    }

    .legal-main-container_left {
        display: flex;
        flex-direction: column;
        width: 250rem;
        padding: 0rem 1rem 3rem 0;
        gap: 2rem;
    }
}