.header {
    background-color: #2b2038;
    padding: 1rem 0rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    max-height: 4rem;
    z-index: 1000;
    box-shadow: 0.1rem 0.1rem 1rem 0 #6d6d6d;
}

.menu-button {
    position: fixed;
    flex-direction: column;
    width: 1.875rem;
    height: 1.375rem;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 1100;
    opacity: 1;
    visibility: visible;
    margin: 0rem 0rem 0rem 1rem;
}

.menu-button .bar {
    display: block;
    height: 3px;
    width: 25px;
    background-color: white;
    margin: 4px 0;
    transition: all 0.3s ease;
}

.menu-button.open .bar:nth-child(1) {
    transform: rotate(45deg) translateY(0.5625rem);
}

.menu-button.open .bar:nth-child(2) {
    opacity: 0;
}

.menu-button.open .bar:nth-child(3) {
    transform: rotate(-45deg) translateY(-9px);
}

.header-logo {
    max-width: 3rem;
    max-height: 3rem;
    overflow: hidden;
    margin: 0rem 0rem 0rem 3.8rem;
}

.logo {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.menu-title {
    display: flex;
}

.header-menu a {
    color: #e0e0e0;
    text-decoration: none;
    font-size: 16px;
    padding: 0rem 0rem;
    border-radius: 6px;
    transition: color 0.3s ease;
    margin-right: 1.5rem;
}

.header-menu a:hover {
    color: #82b3d5;
}

.main {
    display: flex;
    flex-direction: column;
    padding-top: 6rem;
    /* Espacio suficiente para no tapar con el header */
    padding-inline: 2rem;
    /*Espacio a ambos lados para no chocar*/
    gap: 3rem;
    /* Espacio entre secciones */
    /* border: solid rgb(92, 92, 92) 0.01rem; */
}

.main-presentation_section {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    min-height: calc(100vh - 10rem);
    gap: 2rem;
    /* border: solid rgb(92, 92, 92) 0.01rem; */
}

.presentation-composition {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.presentation-composition_container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
    /* border: solid rgb(255, 0, 0) 0.01rem; */
}

.presentation-iframe_container{
    background-color: rgba(44, 62, 80, 0.09);
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    /* border: solid #2c3e50; */
    text-align: center;
    width: 32.2%;
}

.presentation-iframe_container:hover{
    background-color: rgba(78, 110, 143, 0.6);
}

.presentation-api {
    width: auto;
    height: auto;
    object-fit: contain;
}

.presentation-iframe_container_big{
    background-color: rgba(44, 62, 80, 0.09);
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    /* border: solid #2c3e50; */
    text-align: center;
    width: 100%;
}

.presentation-iframe_container_big:hover{
    background-color: rgba(78, 110, 143, 0.6);
}

.presentation-api_big {
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 4.7;
    object-fit: contain;
}

.presentation-iframe_titlebox{
    color: white;
    text-align: center;
    padding: 0.2rem;
}

.presentation-iframe_titlebox:hover{
    cursor: pointer;
}

.presentation_image-container {
    width: 23vw;
    max-width: 30rem;
    min-width: 14rem;
    height: auto;
    overflow: hidden;
    margin: 0rem 0rem 0rem 3.8rem;
    /* border: solid rgb(255, 0, 0) 0.01rem; */
}

.presentation-composition-image_right {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.presentation-titles {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: left;
    /* border: solid rgb(255, 0, 0) 0.01rem; */
}

.presentation-title {
    white-space: normal;
    word-break: break-word;
}

.presentation-subtitle {
    white-space: normal;
    word-break: break-word;
}

.divider{
    background-color: #2b2038;
    height: 0.2rem;
}

/*CAROUSEL*/
.carousel-container {
    position: relative;
    padding-top: 50px;
    /* border: solid rgb(255, 0, 0) 0.01rem; */
    height: auto;
}

.carousel-controls {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
}

.carousel-item {
    padding: 1.25rem;
}

.carousel-item_container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 2rem;
    /* border: solid rgb(136, 255, 0) 0.01rem; */
}

.card-custom {
/* border: solid rgb(255, 0, 0) 0.01rem; */
    position: relative;
    border-radius: 12px;
    overflow: hidden;
    color: white;
    height: 38rem; /*comprobar*/
    max-width: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-img_front{
    position: relative;
    z-index: 1;
    height: 22rem;
    width: auto;
    margin-bottom: 11rem;
    transition: transform 0.5s ease;
    /* border: solid rgb(255, 0, 0) 0.01rem; */
}

.card-img_back{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    object-fit: cover;
}
.card-title{
    z-index: 2;
    padding-bottom: 1rem;
}
.card-body {
    z-index: 2;
    background: linear-gradient(rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 36.99%);
    padding: 1rem; 
    bottom: 0;
    height: 24rem;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.card-text_container{
    padding-top: 8rem;
}

.btn-blue{
    background-color: #82b3d5;
    color: black;
    border: none;
}

.btn-blue:hover{
    color: white;
    background-color: transparent;
    cursor: pointer;
    border: solid 0.15rem #2b2038;
}

.main-structures-composition{
    display: flex;
    flex-direction: row;
    z-index: 1;
    max-height: 35rem;
    border: solid rgb(255, 0, 0) 0.01rem;
}

.main-structures-titlebox_container{
    max-width: 20rem;
    height: auto;
    background-color: #2c3e50;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: solid rgb(255, 0, 0) 0.01rem;
}

.main-structures-titlebox_image{
    max-width: 10rem;
}
.main-structures-titlebox{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.main-structures-titlebox_text{
    text-align: center;
}

.main-structures-image_container{
    max-width: 150rem;
    height: auto;
    overflow: hidden;
}

.main-structures-image{
    height: auto;
    width: 100%;
    object-fit: contain;
}


/*MEDIA QUERIES*/
@media (max-width: 768px) {
    .header-menu.open {
        display: flex;
    }

    .header-menu {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #79688c;
        display: none;
        flex-direction: column;
        align-items: flex-start;
        padding: 1rem 2rem;
    }

    .presentation-iframe_container{
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    border: solid #2c3e50;
    text-align: center;
    width: 100%;
}
}