.header{
    background-color: #79688C;
    color: #fff;
    padding: 1rem 0rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    max-height: 4rem;
    z-index: 1000;
    box-shadow: 0.1rem 0.1rem 0.5rem 0 #252525;
}

.menu-button{
    position: fixed;
    flex-direction: column;
    justify-content: space-between;
    width: 1.875rem;
    height: 1.375rem;
    background: black;
    border: none;
    cursor: pointer;
    z-index: 1100;
    opacity: 1;
    visibility: visible;
}

.menu-button .bar{
    height: 3px;
    width: 25px;
    background-color: white;
    margin: 4px 0;
    transition: all 0.3s ease;
}
@media (max-width: 768px){
    .menu-toggle {
        display: flex;
    }
}
.menu-button.open .bar:nth-child(1){
    transform: rotate(45deg) translateY(0.5625rem);
}
.menu-button.open .bar:nth-child(2){
    opacity:0;
}
.menu-button.open .bar:nth-child(3){
    transform: rotate(-45deg) translateY(-9px);
}

.header-logo{
    max-width: 3rem;
    max-height: 3rem;
    overflow: hidden;
    margin: 0rem 0rem 0rem 3rem;
}

.logo{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.header-menu a{
    color: #e0e0e0;
    text-decoration: none;
    font-size: 16px;
    padding: 0rem 0rem;
    border-radius: 6px;
    transition: color 0.3s ease;
    margin-right: 1.5rem;
}

.header-menu a:hover{
    color: #b5a377;
}

.main{
    display: flex;
    flex-direction: column;
    padding-top: 6rem; /* Espacio suficiente para no tapar con el header */
    padding-inline: 2rem; /*Espacio a ambos lados para no chocar*/
    gap: 3rem; /* Espacio entre secciones */
    /* border: solid rgb(92, 92, 92) 0.01rem; */
}

.main-section{
    min-height: calc(100vh - 10rem);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 2rem;
    /* border: solid rgb(92, 92, 92) 0.01rem; */
}

.button-main{
    height: 2.5rem;
    background-color: #82B3D5;
    border-radius: 1.5rem;
    max-width: 5rem;
}